* 
  margin: 0
  padding: 0

#root
  background: black
  display: flex
  justify-content: center

.app
  height: 100dvh
  width: clamp(50%, 1200px, 1500px)
  background: aliceblue
  display: grid
  grid-template-rows: 120px 1fr 60px

